<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126437645317-cduma1a2ndb75mgkjkq0pmin6e39tgb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126437645317-cduma1a2ndb75mgkjkq0pmin6e39tgb8</string>
	<key>API_KEY</key>
	<string>AIzaSyDcrMiPdSuiPqu5VKyS_9pzIz27j8t__xU</string>
	<key>GCM_SENDER_ID</key>
	<string>126437645317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.syr.amboyce.CuseMarket</string>
	<key>PROJECT_ID</key>
	<string>cusemarket</string>
	<key>STORAGE_BUCKET</key>
	<string>cusemarket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126437645317:ios:c1b93b25d25596dec7506c</string>
</dict>
</plist>